<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collegesite</title>
    <link href="{% static "css" %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="nav-header">
            <a class="navbar-brand" href="/">college</a>
        </div>
  </div>
</nav>

<div list>
<ul>

    <a href="{% url 'collegesite:staff_registration' %}">Staff Registration</a><br>
    <a href="{% url 'collegesite:user_login' %}">Login</a><br>
    <a href="{% url 'collegesite:student_application' %}">Student Application</a><br>
    <a href="{% url 'collegesite:student_login' %}">student login</a><br>
    <a href="{% url 'collegesite:student_registartion' %}">Student Registartion</a><br>
    <a href="{% url 'collegesite:student_list' %}">Sortlisted Students applications</a><br>
</ul>
</div>

</body>
</html>









